{%load static%}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {%block style%}{%endblock%}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
                aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%static 'media/Documentacao.pdf'%}">Documentação</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown"
                       aria-expanded="false">Custos</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown08">
                        <li><a class="dropdown-item" href="{%url 'custos'%}">Consultar custo</a>
                        </li>
                        <li><a class="dropdown-item" href="{%url 'atualizar_custos'%}">Atualizar custos</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown"
                       aria-expanded="false">Dashboard</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown08">
                        <li><a class="dropdown-item" href="{%url 'dashboard'%}">Dashboard</a>
                        </li>
                        <li><a class="dropdown-item" href="{%url 'curva_abc'%}">Curva ABC</a>
                        </li>
                        <li><a class="dropdown-item" href="{%url 'periodo_anterior'%}">Comparar Período Anterior</a>
                        </li>
                        <li><a class="dropdown-item" href="{%url 'lucro_liquido'%}">Lucro Liquido</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown"
                       aria-expanded="false">Compras</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown08">
                        <li><a class="dropdown-item" href="{%url 'gerar-sugestao-de-compras'%}">Sugestão de Compras</a>
                        </li>
                        <li><a class="dropdown-item" href="{%url 'gerar-sugestao-programada'%}">Compras Programada</a>
                        </li>
                        <li><a class="dropdown-item" href="{%url 'gerar-ordem-de-compra-tiny'%}">Gerar Ordem de
                            Compras</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{%block body%}

{%endblock%}

{%block block2%}

{%endblock%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>
<footer class="bg-dark text-white text-center py-3 mt-auto fixed-bottom">
    Desenvolvido por Robertt S. Reis &copy; 2025
</footer>

</html>