{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Custos{% endblock %}

{%block body%}
<div class="container d-flex justify-content-center align-items-center">
    <div class="card shadow p-4" style="max-width: 550px; width: 100%;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-10">Consultar</button>
        </form>
    </div>
</div>
{%endblock%}


{% block block2 %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="card shadow p-4 text-center" style="max-width: 550px; width: 100%;">
        <h4 class="text-muted mb-2">Custo do Produto</h4>
        <p class="resultado-custo">{{ resultado }}</p>
    </div>
</div>
{% endblock %}

