{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block title%}Sugestão Compras{%endblock%}

{%block body%}
<div class="container d-flex justify-content-center align-items-center">
    <div class="card shadow p-4" style="max-width: 550px; width: 100%;">
        <h2 class="mb-4 text-center">Sugestão de Compras</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-10">Enviar</button>
        </form>
    </div>
</div>
{%endblock%}
